<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyFrameWorkMacOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MyFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MyFrameworkTVOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MyFrameworkiOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>000AF4D42140092000B0ECA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>000AF4DC2140092000B0ECA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>000AF4F02140093100B0ECA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>000AF4F82140093200B0ECA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>000AF50C2140094900B0ECA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>000AF5142140094900B0ECA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
